<%= form_with(model: @genre, local: true) do |f| %>
  <% if @genre.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@genre.errors.count, "error") %> prohibited this genre from being saved:</h2>
      <ul>
        <% @genre.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Name:" %><br>
    <%= f.text_field :name %>
  </div>

  <div class='field'>
    <%= f.label :description, 'Description:' %><br>
    <%= f.text_area :description, :cols => 25, :rows => 5 %>
  </div><br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>