<div class="border border-light">
    <h1>
        <% if @genre.avatar.attached? %>
            <img src="<%=(url_for(@genre.avatar))%>" class="w-25 p-3" alt="">
        <% end %>
        <%= @genre.name %></h2>
    </h1>
    <div class="container-fluid">
        <p><%= @genre.description %></p>
    </div>
</div><br>

<ul>
    <% @genre.posts.each do |post| %>
        <li><%= link_to post.title, post_path(post) %></li>
    <% end %>
</ul>

<% if @genre.user == current_user %>
    <%= button_to "Edit Genre", edit_genre_path(@genre), method: :get %><br>
    <%#= button_to "Delete Genre", genre_path(@genre), method: :delete %>
<% end %>