<h2><%= @genre.name %></h2><br>
<p><%= @genre.description %></p>

<ul>
    <% @genre.posts.each do |post| %>
        <li><%= link_to post.title, post_path(post) %></li>
    <% end %>
</ul>

<% if @genre.user == current_user %>
    <%= button_to "Edit Genre", edit_genre_path(@genre), method: :get %><br>
    <%= button_to "Delete Genre", genre_path(@genre), method: :delete %>
<% end %>