<% if @author.errors.any? %>
  <div id="error_explanation">
    <h3>There were some errors:</h3>
    <ul>
      <% @author.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@author) do |f| %>
  <div class='field'>
    <%= f.label :name, 'Name:' %>
    <%= f.text_field :name %>
  </div><br>

  <div class='field'>
    <%= f.label :bio, 'Biography:' %>
    <%= f.text_area :bio %>
  </div><br>

  <div class='actions'>
    <%=f.submit %>
  </div>

<% end %>