<%= form_with(model: @author, local: true) do |f| %>
  <% if @author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@author.errors.count, "error") %> prohibited this author from being saved:</h2>
      <ul>
        <% @author.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :name, "Name:" %><br>
    <%= f.text_field :name %>
  </div>

  <div class='field'>
    <%= f.label :bio, 'Biography:' %><br>
    <%= f.text_area :bio, :cols => 25, :rows => 5 %>
  </div><br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>