<h2>Editing "<%= @author.name %>"</h2>
<%= form_tag author_path(@author), method: "patch" do %>
  <% if @author.errors.any? %>
    <div id="error_explanation">
      <h3>There were some errors:</h3>
      <ul>
        <% @author.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if @author.errors[:name].empty? %>
    <div class="field">
  <% else %>
    <div class="field_with_errors">
  <% end %>
    <%= label_tag "name", "Title" %>
    <%= text_field_tag "name", @author.name %>
  </div>

  <% if @author.errors[:bio].empty? %>
    <div class="field">
  <% else %>
    <div class="field_with_errors">
  <% end %>
    <%= label_tag "bio", "Content" %>
    <%= text_field_tag "bio", @author.bio %>
  </div>

  <%= submit_tag "Update" %>
<% end %>