<div class="border border-light">
    <h1>
        <% if @author.avatar.attached? %>
            <img src="<%=(url_for(@author.avatar))%>" class="w-25 p-3" alt="">
        <% end %>

        <%= @author.name %>
    </h1>
    <p><%= @author.bio %></p>
</div>

<ul>
    <% @author.posts.each do |post| %>
        <li><%= link_to post.title, post_path(post) %></li>
    <% end %>
</ul>

<% if @author.user == current_user %>
    <%= button_to "Edit Author", edit_author_path(@author), method: :get %><br>
    <%= button_to "Delete Author", author_path(@author), method: :delete %>
<% end %>