<h1>Hi, <%= @user.first_name %>!</h1>
<%= link_to "Create a New Post", new_post_path %> | <%= link_to "Add a new Author", new_author_path %> | <%= link_to "Add a new Genre", new_genre_path %>

<h2>Here are the posts you've created: </h2>

<ul>
    <% @user.posts.each do |post| %>
        <div class="post">
            <li><h5><%= link_to post.title, post_path(post) %> | <%= post.author.name %> | <%= post.genre.name %> |</h5></li>
            <%= button_to "Delete Post", post_path(post), method: :delete %>
        </div>
    <% end %>
</ul>