<h1>Hi, <%= @user.username %>!</h1>

<div class="border border-light">
    <h3>
        <% if @user.facebook_picture_url %>
            <img src="<%=(url_for(@user.facebook_picture_url))%>" class='w-25 p-3'>
        <% elsif @user.avatar.attached? %>
            <img src="<%=(url_for(@user.avatar))%>" class="w-25 p-3" alt="">
        <% end %>

        <%= link_to "Create a New Post", new_user_post_path(@user) %> | <%= link_to "Add a new Author", new_author_path %> | <%= link_to "Add a new Genre", new_genre_path %><br>
    </h3>
</div><br>

<h2>All Posts: </h2>

<ul>
    <% Post.all.sort_by{|post|post.title}.each do |post| %>
        <div class="post">
            <li><h5><%= link_to post.title, post_path(post)%> | <%= post.author.name %> | <%= post.genre.name %> | <%= post.user.username %> |</h5></li>
        </div>
    <% end %>
</ul>