<%= form_with(model: @post, local: true) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        <%= link_to "Create a new Author", new_author_path %><br>
        <%= link_to "Create a new Genre", new_genre_path %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title, "Title:" %><br>
    <%= f.text_field :title %>
  </div>

  <div class='field'>
    <%= f.label :author_id, 'Author:' %><br>
    <%= f.collection_select(:author_id, @authors, :id, :name, prompt: true) %>
  </div><br>

  <div class='field'>
    <%= f.label :genre, 'Genre:' %><br>
    <%= f.collection_radio_buttons(:genre_id, @genres, :id, :name) %>
  </div><br>

  <div class='field'>
    <%= f.label :description, 'Description:' %><br>
    <%= f.text_area :description, :cols => 25, :rows => 5 %>
  </div><br>

  <div class="field">
    <%= f.label :content, "Content:" %><br>
    <%= f.text_area :content %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>