<h3>Editing "<%= @post.title %>"</h3>

<%= form_tag post_path(@post), method: "patch" do %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h3>There were some errors:</h3>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @post.errors[:title].empty? %>
    <div class="field">
  <% else %>
    <div class="field_with_errors">
  <% end %>
    <%= label_tag "title", "Title:" %>
    <%= text_field_tag "title", @post.title %>
  </div>

  <% if @post.errors[:description].empty? %>
    <div class="field">
  <% else %>
    <div class="field_with_errors">
  <% end %>
    <%= label_tag "description", "Description:" %>
    <%= text_area_tag "description", @post.description %>
  </div>

  <% if @post.errors[:author].empty? %>
    <div class="field">
  <% else %>
    <div class="field_with_errors">
  <% end %>
    <%= label_tag "author", "Author:" %>
    <%= text_field_tag "author", @post.author %>
  </div>

  <% if @post.errors[:genre].empty? %>
    <div class="field">
  <% else %>
    <div class="field_with_errors">
  <% end %>
    <%= label_tag "genre", "Genre:" %>
    <%= text_field_tag "genre", @post.genre %>
  </div>

  <% if @post.errors[:content].empty? %>
    <div class="field">
  <% else %>
    <div class="field_with_errors">
  <% end %>
    <%= label_tag "content", "Content:" %>
    <%= text_area_tag "content", @post.content %>
  </div>

  <%= submit_tag "Create" %>
<% end %>