<h3>Editing "<%= @post.title %>"</h3>

<% if @post.errors.any? %>
  <div id="error_explanation">
    <h3>There were some errors:</h3>
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@post) do |f| %>
  <div class='field'>
    <%= f.label :title, 'Title:' %>
    <%= f.text_field :title %>
  </div><br>

  <div class='field'>
    <%= f.label :description, 'Description:' %>
    <%= f.text_area :description %>
  </div><br>

  <div class='field'>
    <%= f.label :author_id, 'Author:' %>
    <%= f.collection_select(:author_id, @authors, :id, :name, prompt: true) %>
  </div><br>

  <div class='field'>
    <%= f.label :genre, 'Genre:' %>
    <%= f.text_field :genre %>
  </div><br>

  <div class='field'>
    <%= f.label :content, 'Content:' %>
    <%= f.text_area :content %>
  </div><br>

  <div class='actions'>
    <%=f.submit %>
  </div>

<% end %>