<h3>Editing "<%= @post.title %>"</h3>

<%= form_for(@post) do |f| %>

  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h3>There were some errors:</h3>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @post.errors[:title].empty? %>
    <div class="field">
  <% else %>
    <div class="field_with_errors">
  <% end %>
    <%= f.label :title %>:
    <%= f.text_field :title %>
  </div><br>

  <% if @post.errors[:description].empty? %>
    <div class="field">
  <% else %>
    <div class="field_with_errors">
  <% end %>
    <%= f.label :description %>:
    <%= f.text_area :description %>
  </div><br>

  <% if @post.errors[:author_id].empty? %>
    <div class="field">
  <% else %>
    <div class="field_with_errors">
  <% end %>
    <%= f.label :author_id %>:
    <%= f.collection_radio_buttons :author_id, @author, :id, :name %>
  </div><br>

  <% if @post.errors[:genre].empty? %>
    <div class="field">
  <% else %>
    <div class="field_with_errors">
  <% end %>
    <%= f.label :genre %>
    <%= f.text_field :genre %>
  </div>

  <%# <div class="field"> %>
    <%#= f.label :genre_id, 'Genre:' %><br>
    <%#= f.collection_radio_buttons :genre_id, @genre, :id, :name %>
  <%# </div> %>

  <% if @post.errors[:content].empty? %>
    <div class="field">
  <% else %>
    <div class="field_with_errors">
  <% end %>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div><br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>