<div class="border border-light">
    <h1>
        <% if @post.avatar.attached? %>
            <img src="<%=(url_for(@post.avatar))%>" class="w-25 p-3" alt="">
        <% end %>

        <%= @post.title %>  ||  
        <%= link_to @post.author.name, author_path(@post.author) if @post.author %>  ||  
        <%= link_to @post.genre.name, genre_path(@post.genre) if @post.genre %>
    </h1>
</div>
<div class="border border-light">
    <p>Description: <%= @post.description %></p>
</div><br>

<h5><%= @post.content %></h5><br>

<% if @post.user == current_user %>
    <%= button_to "Edit Post", edit_post_path(@post), method: :get %><br>
    <%= button_to "Delete Post", post_path(@post), method: :delete %>
<% end %>